:root {
  /* background color */
  --bg-primary-color: #0c0c0c;
  --bg-food-color: #f31616;

  /* text color */
  --text-primary-color: #f0f0f0;
  --bg-fill-color: #fdfdfc;

  /* spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md:16px;
  --space-lg:24px;
  --space-xl:32px;
  --space-2xl:40px;
  --space-3xl:48px;

  /* border primary color */
  --border-primary-color: #333333;
  
  /* border radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md:16px;
  --border-radius-lg:24px;
  --border-radius-xl:32px;
  --border-radius-2xl:40px;
  --border-radius-3xl:48px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}

main,section {
  width: 100%;
  height: 100%;
}
section{
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
}
.infos {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info {
  padding: var(--space-sm) var(--space-md);
  border: 2px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
  font-size: 20px;
}

.board {
  margin-top: var(--space-md);
  width: 100%;
  flex-grow: 1;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(50px,1fr) );
  grid-template-rows: repeat(minmax(50px,1fr));
  
}

.block{
    border: 1px solid var(--border-primary-color);
}

.fill{
  background-color: var(--bg-fill-color);
}
.food{
  background-color: var(--bg-food-color);
  
}

.modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
}
.start-game h3, .restart-game h3{
  font-size: 30px;
}
.start-game .btn, .restart-game .btn{
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover{
  transform: scale(1.1);
}
.restart-game{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
}